* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #ca4a58;
    margin: 2.5%; 
}

.content {
    box-sizing: border-box;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #fff;
    min-height: 100vh;
    text-align: center;
}

.logo-img {
    width: calc(45% - 20px); 
    max-width: 100%; 
    height: auto; 
    padding: 10px;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 15px;
    }
}